wy-nav-content {
    max-width: none;
}


.math {
    text-align: left;
}

.eqno {
    float: right;
}

td {
	white-space: normal !important;
}

dl.py-parameter-list .param-type {
  margin-left: 0.35em;
}